/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans,wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
/* Styles for the body */

body {
	font-family: "Open Sans",  sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

h1, h2{
	font-family: "Josefin Sans";
	margin-bottom: 12px;
}

h2, h5{
	color: darkslategray;
}

.language-name {
	color: black;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #d8e2dc;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #e8e8e4;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
	margin-right: 5px;
}

.fw-bolder{
	margin-top: 25px;
}

.biography-section{
	margin-left: 15px;
	
}

.biography-section ul{
	margin-bottom: 15px;
	margin-right: 10px;
}

.biography-item{
	margin-top: 20px;
}

.aside-section ul{
	margin-bottom: 40px;
}

.portuguese-level {
	background-color: lightskyblue;
}

.english-level {
	background-color: darkseagreen;
}

.language-border {
	border-color: darkslategray!important;
}
